body {
    font-family: sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    color: #333;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

header p {
    font-size: 1em;
    margin-bottom: 1em;
}

nav {
    margin-top: 1em;
}

nav a {
    padding: 0.5em 1em;
    margin: 0 0.5em;
    background-color: #ddd;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
}

main {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

.search input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid */
    grid-gap: 20px;
}

.category {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.category img {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 10px;
}

.location-search input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}